@model PostSnap.Dtos.EditPostDto

@{
    ViewData["Title"] = "Edit";
}

<div >
    <div class="d-flex justify-content-between">

    <h1>Edit Post</h1>
    <!--Delete Form-->
    <form asp-action="Delete" asp-route-id="@Model.Id" method="post" onsubmit="return confirm ('This Post will be deleted!')">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-outline-danger ms-auto">Delete Post</button>
    </form>
</div>
</div>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="Id" />
    <!-- Title Field -->
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <!-- Body Field -->
    <div class="form-group">
        <label asp-for="Body"></label>
        <textarea asp-for="Body" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Body" class="text-danger"></span>
    </div>

    <!-- Image Upload Field -->
    @if (!string.IsNullOrEmpty(@Model.ImageFileName) && System.IO.File.Exists($"wwwroot\\uploads\\{Model.ImageFileName}"))
    {
        <div class="image-container">
            <a href="/uploads/@Model.ImageFileName" target="_self" data-lightbox="post-gallery" data-title="@Model.Title">

                <img src="/uploads/@Model.ImageFileName" class="card-img-custom" alt="Post image" />
            </a>
        </div>
    }
        <hr />

        <br />
    
    
    
    <div class="form-group">
        <label asp-for="ImageUpload" class="control-label font-weight-bold">Replace Image</label>
        <input asp-for="ImageUpload" type="file" class="form-control-file" />
        <span asp-validation-for="ImageUpload" class="text-danger"></span>
    </div>
    <br />
    
    <div class="m-1">
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-secondary">Cancel</a>

    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}